
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    padding-top: 40px;
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    color: #121212;
}

h1{
padding-bottom: 20px;
font-size: 40px;
}

section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.filter-menu {
    display: flex;
    margin-bottom: 40px;
}

.filter-option {
    list-style: none;
    background: #333;
    margin: 5px;
    border-radius: 5px;
}

.filter-option.active {
    background: #03a9f4;
}

.filter-option a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
}


.gallery {
    width: 1150px; 
    min-height: 300px; 
    position: relative; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.gallery-item {
    width: 200px;
    height: 200px; 
    margin: 10px; 
    border: 1px solid #121212; 
    position: relative; 
    background-size: cover; 
    background-position: center; 
    transition: transform 0.3s ease, z-index 0s; 
    background-color: #121212;
}

.gallery-item:hover {
    z-index: 10; 
    transform: scale(1.5); 
}


/* dark/light mode*/
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #fff;
    }

    .gallery-item{
        background-color: #fff;
        border: #fff;
    }
}

